.button {
    display: block;
    text-align: center;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    opacity: .8;
}

.button--warning {
    background-color: rgb(236, 210, 18);
    color: white;
}

.button--danger {
    color: red;
}

.button--sucess {
    color: white;
    background-color: green;
}

.button--big {
    width: 100%;
}